@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(pacote-projeto-d010/fontes/idroid.otf) format('opentype');
}

body{
    background-color: #14FBAB;
    margin: 0px ;
}
header{
    background-image: radial-gradient(#1BFA27, #063B09);
    padding: 10px;
    color: white;
}

header > h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    margin: 0px;
}

header > h2{
    text-align: center;
    font: 1em Arial, Helvetica, sans-serif;
    padding: 10px 0px 30px 0px;
    margin: 0px;

}
nav > a{
    text-decoration: none;
    font: bold 1em Arial, Helvetica, sans-serif;
    color: white;
    margin:0px 7px 0px 0px;
}

nav > a:hover{
    background-color: #14fbaa88;
    padding: 5px;
    border-radius: 5px;
}

footer{
    background-color: #063B09;
    color: white;
    text-align: center;
    padding: 5px;
}

footer > p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: white;
    margin: auto;
    width: 800px;
    padding: 10px 10px;
}

main > h1{
    font: 1.8em idroid, Arial, Helvetica;
    color: #063B09;
    padding: 0px 10px;
}
main > h2{
    font: 1.2em idroid, Arial, Helvetica;
    background-image: linear-gradient(to right, #14fbaa96, white);
}
main > p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 10px;
    
}
main > picture{
    display: block;
    padding: 0px 5px;
    margin: 0px auto;
}
main > img{
    display: block;
    padding: 5px 5px;
    margin: 0px auto;
}
main > iframe{
    display: block;
    margin: 0px auto;
}
main > aside{
    background-color: #017e07;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 1px 0px;
    margin: 8px;
    box-shadow: 2px 3px 5px 1px  rgba(0, 0, 0, 0.397);
    border-radius: 10px 10px;
    
}
aside > h2{
    margin: 0px;
    background-color: #063B09;
    padding: 0px 5px;
    border-radius: 10px 10px 0px 0px;
}
aside > p {
    padding: 0px 5px;
    text-align: justify;
}



